/* MAP */

.btn-map{
    width: 115px;
}

.map {
    display: flex;
    justify-content: center;
}

.map img#map-desktop {
    display: none;
}

.map-mobile-container {
    width: 220px;
}

/* MAP SECTION */
.map-section {
    background-color: var(--third-color);
    padding: 30px 40px;
}

.map-section hr {
    background-color: var(--second-color);
    border: var(--second-color);
    height: 3px;
    margin: 0 auto 25px auto;
    width: 30px; 
}

.map-section-action {
    text-align: center;
}

.map-section-action h6 {
    color: var(--first-color);
    font-family: var(--BS-font);
    font-size: var(--subtitle-tablet);
    text-align: center;
}

.map-section-action h6 svg{
    bottom: -6px;
    fill: var(--second-color);
    position: relative;
    width: 16px;
}

.map-title h2 {
    color: var(--first-color);
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    margin: 0 0 15px 0;
    text-align: center;
}

/* PROVINCES LIST */

.provinces {
    display: flex;
    justify-content: space-between;
}

.province {
    font-family: var(--WS-font);
}

.province .amount {
    font-size: var(--paragraph-mobile);
}

.province .name {
    font-size: 11px;
    color: var(--first-color);
}

.province .negrita{
    font-weight: 900;
}


/* UNIT PROVINCES */


.map-mobile-container {
    position: relative;
}
.map-mobile-container #santaCruz,
.map-mobile-container #chubut,
.map-mobile-container #rioNegro,
.map-mobile-container #neuquen,
.map-mobile-container #laPampa,
.map-mobile-container #buenosAires,
.map-mobile-container #caba,
.map-mobile-container #mendoza,
.map-mobile-container #sanLuis,
.map-mobile-container #cordoba,
.map-mobile-container #santaFe,
.map-mobile-container #entreRios,
.map-mobile-container #sanJuan,
.map-mobile-container #laRioja,
.map-mobile-container #catamarca,
.map-mobile-container #tucuman,
.map-mobile-container #santiagoDelEstero,
.map-mobile-container #salta,
.map-mobile-container #jujuy,
.map-mobile-container #chaco,
.map-mobile-container #formosa,
.map-mobile-container #corrientes,
.map-mobile-container #misiones{
    position: absolute;
    width: 25px;
    height: 25px;
}

.map-mobile-container .province-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-mobile-container .circle {
    background-color: var(--white-color);
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.map-mobile-container .circle:hover {
    width: 7px;
    height: 7px;
    background-color: var(--second-color);
}

.map-mobile-container #santaCruz {
    bottom:100px;
    left:40px;
}

.map-mobile-container #chubut {
    bottom:160px;
    left: 50px;
}

.map-mobile-container #rioNegro {
    bottom: 210px;
    left: 60px;
}

.map-mobile-container #neuquen {
    bottom: 230px;
    left:40px;
}

.map-mobile-container #laPampa { 
    bottom: 245px;
    left: 80px;
}

.map-mobile-container #buenosAires { 
    bottom: 250px;
    left: 130px;
}

.map-mobile-container #caba { 
    bottom:270px;
    left: 145px;
}

.map-mobile-container #mendoza {
    bottom:275px;
    left: 50px;
}

.map-mobile-container #sanLuis {   
    bottom: 285px;
    left: 75px;
}

.map-mobile-container #cordoba { 
    bottom: 300px;
    left: 100px;
}

.map-mobile-container #santaFe{ 
    bottom:320px;
    left: 125px;
}

.map-mobile-container #entreRios{
    bottom: 300px;
    left: 140px;
}

.map-mobile-container #sanJuan{    
    bottom: 315px;
    left: 45px;
}

.map-mobile-container #laRioja{   
    bottom: 325px;
    left: 68px;
}

.map-mobile-container #catamarca{
    bottom: 355px;
    left: 60px;
}

.map-mobile-container #tucuman{
    bottom: 355px;
    left: 82px;
}

.map-mobile-container #santiagoDelEstero{   
    bottom: 345px;
    left: 100px;
}

.map-mobile-container #salta{  
    bottom: 372px;
    left: 85px;
}

.map-mobile-container #jujuy{     
    bottom: 395px;
    left: 75px;
}

.map-mobile-container #chaco{
    bottom: 360px;
    left: 125px;
}

.map-mobile-container #formosa{
    bottom: 375px;
    left: 135px;
}

.map-mobile-container #corrientes{    
    bottom: 335px;
    left: 155px;
}

.map-mobile-container #misiones{
    bottom: 355px;
    left: 185px;
}


/* MEDIA QUERIES*/

/* TABLET */
@media screen and (min-width: 768px) {
    .map {
        width: 50%;
    }

    .map-section-action {
        text-align: left;
    }

    .map-section-action h6 {
        text-align: left;
    }
   
    .map-section-desktop {
       display: flex;
       flex-direction: row-reverse;
   } 

   .provinces-desktop {
       width: 50%;
   }
}

/* ESCRITORIO */
@media screen and (min-width: 992px) {

    .btn-map{
        width: 150px;
    }

    .map {
        display: flex;
        max-height: 774px;
    }
    
    .map img#map-mobile {
        display: none;
    }

    .map img#map-desktop {
        display: block;
    }

    .map-section {
        padding: 50px 66px;
    }

    .map-section-action h6 {
        font-size: 32px;
    }

    .map-section-action h6 svg{
        bottom: -10px;
        width: 28px;
    }

    .map-title h2 {
        font-size: 53px;
    }

    .province .amount {
        font-size: 21px;
    }
    
    .province .name {
        font-size: var(--paragraph-desktop);
    }

    .provinces {
        padding-right: 40px;
    }

    .map-section hr {
        height: 3px;
        margin: 20px auto 25px auto;
        width: 70px; 
    }

    /* UNIT PROVINCES */

    .map-mobile-container {
        display: none;
    }

    .map-desktop-container {
        position: relative;
    }
    .map-desktop-container #santaCruz,
    .map-desktop-container #chubut,
    .map-desktop-container #rioNegro,
    .map-desktop-container #neuquen,
    .map-desktop-container #laPampa,
    .map-desktop-container #buenosAires,
    .map-desktop-container #caba,
    .map-desktop-container #mendoza,
    .map-desktop-container #sanLuis,
    .map-desktop-container #cordoba,
    .map-desktop-container #santaFe,
    .map-desktop-container #entreRios,
    .map-desktop-container #sanJuan,
    .map-desktop-container #laRioja,
    .map-desktop-container #catamarca,
    .map-desktop-container #tucuman,
    .map-desktop-container #santiagoDelEstero,
    .map-desktop-container #salta,
    .map-desktop-container #jujuy,
    .map-desktop-container #chaco,
    .map-desktop-container #formosa,
    .map-desktop-container #corrientes,
    .map-desktop-container #misiones{
        position: absolute;
        width: 25px;
        height: 25px;
    }

    .map-desktop-container .province-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-desktop-container .circle {
        background-color: var(--white-color);
        width: 13px;
        height: 13px;
        border-radius: 10px;
       
    }

    

    .map-desktop-container .circle:hover {
        width: 14px;
        height: 15px;
        background-color: var(--second-color);
        cursor: pointer;
    }

    .map-desktop-container .circle:checked {
        background-color: blue;
    }

    .map-desktop-container #santaCruz {
        bottom: 164px;
        left: 83px;
    }

    .map-desktop-container #chubut {
        bottom:287px;
        left: 108px;
    }

    .map-desktop-container #rioNegro {
        bottom: 376px;
        left: 131px;
    }

    .map-desktop-container #neuquen {
        bottom: 410px;
        left: 87px;
    }

    .map-desktop-container #laPampa { 
        bottom: 440px;
        left: 161px;
    }

    .map-desktop-container #buenosAires { 
        bottom: 450px;
        left: 258px;
    }

    .map-desktop-container #caba { 
        bottom: 490px;
        left: 278px;
    }

    .map-desktop-container #mendoza {
        bottom: 500px;
        left: 110px;
    }

    .map-desktop-container #sanLuis {   
        bottom: 510px;
        left: 155px;
    }

    .map-desktop-container #cordoba { 
        bottom: 540px;
        left: 195px;
    }

    .map-desktop-container #santaFe{ 
        bottom: 580px;
        left: 245px;
    }

    .map-desktop-container #entreRios{
        bottom: 545px;
        left: 270px;
    }

    .map-desktop-container #sanJuan{    
        bottom: 570px;
        left: 105px;
    }

    .map-desktop-container #laRioja{   
        bottom: 595px;
        left: 135px;
    }

    .map-desktop-container #catamarca{
        bottom: 640px;
        left: 125px;
    }

    .map-desktop-container #tucuman{
        bottom: 645px;
        left: 165px;
    }

    .map-desktop-container #santiagoDelEstero{   
        bottom: 630px;
        left: 200px;
    }

    .map-desktop-container #salta{  
        bottom: 680px;
        left: 165px;
    }

    .map-desktop-container #jujuy{     
        bottom: 720px;
        left: 145px;
    }

    .map-desktop-container #chaco{
        bottom: 650px;
        left: 250px;
    }

    .map-desktop-container #formosa{
        bottom: 680px;
        left: 265px;
    }

    .map-desktop-container #corrientes{    
        bottom: 610px;
        left: 300px;
    }

    .map-desktop-container #misiones{
        bottom: 645px;
        left: 355px;
    }


}