.align-center {
    align-self: center;
}



.btn-white {
    background-color: var(--white-color);
    border: none;
    border-radius: 15px;
    display:inline-block;
    color: var(--first-color);
    font-family: var(--WS-font);
    font-size: var(--button-font-size-mobile);
    font-weight: 800;
    height: 1.9rem;
    padding: 7px;
    outline: none;
    text-align: center;
    width: 7rem;
}

.btn-white:hover {
    background-color: var(--third-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
} 

.btn-orange {
    background-color: var(--second-color);
    border: none;
    border-radius: 15px;
    color: var(--white-color);
    display: inline-block;
    font-size: var(--button-font-size-mobile);
    font-weight: 800;
    height: 2rem;
    padding: 7px;
    outline: none;
    text-align: center;
    width: 11rem;
}

 a#orange{
    font-family: 'Work Sans', sans-serif;
}

.btn-orange:hover{
    background-color: var(--white-color);
    color: var(--second-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
} 

.mb-18 {
    margin-bottom: 18px;
}

.mb-30 {
    margin-bottom: 30px; 
}

/* ESCRITORIO*/
@media screen and (min-width: 992px) {
    .btn-white {
        border-radius: 20px;
        font-size: var(--button-font-size-desktop);
        padding: 10px;
        height: 2.5rem;
        width: 9rem;
    }

    .btn-orange {
        border-radius: 20px;
        font-size: var(--button-font-size-desktop);
        height: 3rem;
        padding: 15px;
        width: 14rem;
    }
}