.countdown-item {
    border-right: thin solid var(--white-color)
}

.countdown-item:last-child {
    border-right: none;
}
 
.countdown-section {
    background-color: var(--third-color);
    padding:30px 30px;
    text-align: center;
}

.countdown-section h2 {
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    margin: 0 auto 18px auto;
    text-align: center;
    width: 60vw;
}

.countdown-section hr {
    margin-bottom: 30px;
    height: 3px;
    width: 50px;
    border: var(--second-color);
    background-color: var(--second-color);
}

.countdown-section .countdown-timer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.countdown-timer-container span {
    font-size: 40px;
    font-family: var(--BS-font);
    color: var(--white-color);
}

.countdown-timer-container p {
    color: var(--first-color);
    font-family: var(--BS-font);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

