.filter-partaker {
    padding: 20px 10px 30px 20px;
    border-bottom: 1px solid var(--first-color);
    height: auto;
}

.filter-partaker p {
    margin: 5px 0 7px 0;
}

.filter-partaker span {
    color: var(--second-color); 
    font-family: var(--WS-font);
    font-size: var(--paragraph-tablet);
    font-weight: 800;
}

.filter-result {
    border: 1px solid var(--first-color);
}

.filter-result-title {
    color: var(--second-color);
    font-family: var(--BS-font);
    font-size: 32px;
    border-bottom: 1px solid var(--first-color);
    padding: 7px 20px;
}

.filter-section {
    background-color: var(--fourth-color);
    padding: 30px 40px;
}

.filter-section hr {
    background-color: var(--second-color);
    border: var(--second-color);
    height: 3px;
    margin: 25px auto 25px auto;
    width: 30px; 
}

.filter-selects ul {

    border: 1px solid var(--first-color);
    color: var(--first-color);
    background-size: 5%;
    background-position-x: 96%; 
    font-family: var(--WS-font);
    font-size: var(--paragraph-tablet);
    margin-bottom: 20px;
    padding: 7px;
    width: 100%;
}

.none {
    display: none;
}

.filter-selects ul li{
   list-style: none;
   margin: 10px 0;
   cursor: pointer;
}

.filter-selects ul li:hover{
    color: var(--second-color);
 }

.filter-selects ul li.head {
    background-image: url('Ashoka-Landing-Mobile_Icono-Flecha-02.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: var(--fourth-color);
    background-size: 5%;
    background-position-x: 96%; 
    font-weight: bold;
}

.filter-selects ul li.headCausa {
    background-image: url('Ashoka-Landing-Mobile_Icono-Flecha-02.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: var(--fourth-color);
    background-size: 5%;
    background-position-x: 96%; 
    font-weight: bold;
}


.filter-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-title h2{
    color: var(--first-color);
    font-family: var(--BS-font);
    font-size: 32px;
    margin: 0;
    text-align: center;
    width: 75%;
}

/*Media*/
/*Tablet*/
@media screen and (min-width: 768px) {
    .filter-partaker p {
        margin: 5px 0 7px 0;
        font-size: 18px;
    }
    
    .filter-partaker span {
        font-size: var(--subtitle-tablet);
    }

    
    .filter-result-title {
        font-size: 53px;
    }

    .filter-title h2{
        font-size: 53px;
        width: 100%;
    }

    .filter-section {
        padding: 50px 40px;
    }

    .filter-section hr {
        margin: 25px auto 50px auto;
        width: 90px; 
    }

    .filter-selects {
        display: flex;
    }

    .filter-selects ul {
        background-size: 2.5%;
        background-position-x: 98%; 
        font-size: var(--paragraph-desktop);
        padding: 15px;
    }

    .filter-selects ul li.head {
        background-image: url('Ashoka-Landing-Mobile_Icono-Flecha-02.png');
        background-size: 2.5%;
        background-position-x: 98%; 
    }
    
    .filter-selects ul li.headCausa {
        background-image: url('Ashoka-Landing-Mobile_Icono-Flecha-02.png');
        background-size: 2.5%;
        background-position-x: 98%; 
    }
    

    .filter-selects select{
        background-image: url('Ashoka-Landing-Mobile_Icono-Flecha-02.png');
        background-size: 2.5%;
        background-position-x: 98%; 
        font-size: var(--paragraph-desktop);
        padding: 15px;
    }
    
    .select1 {
        width: 50%;
        padding-right: 16px;
    }

    .select2 {
        width: 50%;
        padding-left: 16px;
    }
    
}

