
.video-container {
    width: 100%;
}

.video-container iframe{
    width: 100%;
}

.video-line {
    background-color: var(--first-color);
    border: var(--first-color);
    height: 3px;
    margin: 0 auto 25px auto;
    width: 30px;
    
}

.video-section-desktop {
    display: none;
}

.video-section-mobile {
    background-color: var(--second-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    width: 100%;
}

.video-section-mobile .btn-white {
    align-self: center;
}

.video-section-mobile p {
    margin: 20px auto 25px auto;
    text-align: center;
    width: 65vw;
}

.video-title {
    align-self: center;
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    line-height: 32px;
    margin: 0 auto 25px auto;
    width: 52vw;
    text-align: center;
}
/* Media queries */
/* TABLET*/
@media screen and (min-width: 768px) {
    .video-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .video-section-mobile {
        display: none;
    }

    .video-section-desktop {
        background-color: var(--second-color);
        color: var(--white-color);
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 30px 30px 30px 30px;
        width: 100%;  
    }

    .video-section-desktop p {
        font-size: var(--paragraph-tablet);
        margin: -11px auto 13px auto;
        text-align: center;
        width: 76%;
    }
    
    .video-title {
        align-self: center;
        font-family: var(--BS-font);
        font-size: var(--title-tablet);
        line-height: 34px;
        margin: 5px auto 15px auto;
        width: 57%;
        text-align: center;
    }
    
}

/* ESCRITORIO*/
@media screen and (min-width: 992px) {
    .video-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .video-section-mobile {
        display: none;
    }

    .video-section-desktop {
        background-color: var(--second-color);
        color: var(--white-color);
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 30px 30px 30px 30px;
        width: 100%;  
    }

    .video-section-desktop p {
        font-size: var(--paragraph-desktop);
        margin: 0 auto 25px auto;
        text-align: center;
        width: 65%;
    }
    

    .video-section-desktop .btn-white {
        align-self: center;
    }
    
    .video-title {
        align-self: center;
        font-family: var(--BS-font);
        font-size: var(--title-desktop);
        line-height: 40px;
        margin: 0 auto 25px auto;
        width: 46%;
        text-align: center;
    }
    
}