
.video-container {
    width: 100%;
}

#btn-video {
    display: flex;
    justify-content: center;
}

.video-container iframe{
    width: 100%;
    height: 60vh;
}

.video-line {
    background-color: var(--first-color);
    border: var(--first-color);
    height: 3px;
    margin: 0 auto 25px auto;
    width: 30px;
    
}

.video-section-desktop {
    display: none;
}

.video-section-mobile {
    background-color: var(--second-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    width: 100%;
}

.video-section-mobile .btn-white {
    align-self: center;
}

.video-section-mobile p {
    margin: 20px auto 25px auto;
    text-align: center;
    width: 65vw;
}

.video-title {
    align-self: center;
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    line-height: 32px;
    margin: 0 auto 25px auto;
    width: 52vw;
    text-align: center;
}
/* Media queries */

/* Mobile */
@media screen and (min-width: 350px) {
    .video-container iframe {
        width: 100%;
        height: 67vh;
    }
}
@media screen and (min-width: 375px) {
    .video-container iframe {
        width: 100%;
        height: 72vh;
    }
}

@media screen and (min-width: 425px) {
    .video-container iframe {
        width: 100%;
        height: 365px;
    }
}
/* TABLET*/
@media screen and (min-width: 768px) {
    .video-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container iframe{
        width: 63%;
        height: 100%;
    }

    
    .video-section-mobile {
        display: none;
    }

    .video-section-desktop {
        background-color: var(--second-color);
        color: var(--white-color);
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 30px 30px 30px 30px;
        width: 100%;  
    }

    .video-section-desktop p {
        font-size: var(--paragraph-tablet);
        margin: -11px auto 13px auto;
        text-align: center;
        width: 76%;
    }
    
    .video-title {
        align-self: center;
        font-family: var(--BS-font);
        font-size: var(--title-tablet);
        line-height: 34px;
        margin: 5px auto 15px auto;
        width: 57%;
        text-align: center;
    }
    
}

/* ESCRITORIO*/
@media screen and (min-width: 992px) {
    .video-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    
    .video-container iframe{
        width: 67%;
        height: 100%;
    }
    
    .video-section-mobile {
        display: none;
    }

    .video-section-desktop {
        background-color: var(--second-color);
        color: var(--white-color);
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 30px 30px 30px 30px;
        width: 100%;  
    }

    .video-section-desktop p {
        font-size: var(--paragraph-desktop);
        margin: 0 auto 25px auto;
        text-align: center;
        width: 65%;
    }
    
    .video-section-desktop .btn-white {
        align-self: center;
    }
    
    .video-title {
        align-self: center;
        font-family: var(--BS-font);
        font-size: var(--title-desktop);
        line-height: 40px;
        margin: 0 auto 25px auto;
        width: 46%;
        text-align: center;
    }
    
}

@media screen and (min-width: 1024px) {

    .video-container {
        height: 80vh;
    }

    .video-container iframe{
        width: 81%;
        height: 100%;
    }

}

@media screen and (min-width: 1220px) {

    .video-section-desktop {
        padding: 50px 30px 50px 30px;
        height: 65vh;
    }

    .video-container iframe{
        width: 70%;
        height: 100%;
    }

}

