.img-container-desktop {
    display: none;
}

.img-container-tablet {
    display: none;
}

.svg-orange {
    fill: var(--second-color);
}

.svg-blue {
    fill: var(--first-color)
}

.way-section {
    background-color: var(--fourth-color);
    padding: 30px 0;
}

.way-section h3{
    font-size: var(--title-mobile);
    font-family: var(--BS-font);
    text-align: center;
    margin: 0 auto 30px auto;
}

.way-section .img-container-mobile {
    text-align: center;
}

.way-sentences {
    margin: 0 auto 18px auto;
    display: flex;
    justify-content: center;
}

.way-sentences p{
    
    margin: 0;
    text-align: center;
}

.way-sentences.s-1 p{
    width: 60vw;
}

.way-sentences.s-2 p{
    width: 80vw;
}

.way-sentences.s-3 p{
    width: 80vw;
}

.way-sentences.s-4 p{
    width: 80vw;
}

.way-sentences svg {
    width: 15px;
    margin-bottom: -8px;
}

/* Media queries */

/* TABLET*/
@media screen and (min-width: 768px) {

    .img-container-desktop {
        display: block;
    }

    .img-container-desktop > img {
        width: 100%;
    }

    .way-section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 30px 20px;
    }

    .way-section h3{
        font-size: var(--title-tablet);
        font-family: var(--BS-font);
        text-align: left;
        margin: 20px auto 20px auto;
    }

    .way-section .img-container-mobile {
        display: none;
    }

    .way-sentences {
        margin: 0 auto 10px auto;
        display: flex;
        justify-content: left;
    }
    
    .way-sentences p{
        font-size: var(--paragraph-tablet);
        margin: 0;
        margin-bottom: 10px;
        text-align: left;
    }
    
    .way-sentences.s-1 p{
        width: 100%;
    }
    
    .way-sentences.s-2 p{
        width: 100%;
    }
    
    .way-sentences.s-3 p{
        width: 100%;
    }
    .way-sentences.s-3 p span{
        margin-left: 15px;
    }

    .way-sentences.s-3 p br {
        display: none;
    }
    
    .way-sentences.s-4 p{
        width: 100%;
    }

    .way-sentences.s-4 p span{
        margin-left: 15px;
    }
    
    .way-sentences svg {
        width: 15px;
        margin: 0 5px -8px 0;
    }
}

/* ESCRITORIO*/
@media screen and (min-width: 992px) {

    .way-section {
        padding: 30px 30px;
    }

    .way-section h3{
        margin: 20px auto 30px auto;
    }

    .way-sentences {
        margin: 0 auto 18px auto;
    }
    
    .way-sentences p{
        font-size: var(--paragraph-desktop);
        margin-bottom: 20px;
    }

    .way-sentences.s-3 p{
        width: 97%;
    }

    .way-sentences.s-4 p{
        width: 97%;
    }
}

@media screen and (min-width: 1093px) {
    .way-sentences.s-3 p{
        width: 93%;
    }
    .way-sentences.s-4 p{
        width: 93%;
    }
}

@media screen and (min-width: 1145px) {
    .way-sentences.s-3 p{
        width: 88%;
    }
    .way-sentences.s-4 p{
        width: 88%;
    }
}