button.btn-menu {
    background-color: var(--first-color);
    border: none;
    height: auto;
    outline: none;
    width: 50px;
    position: absolute;
    right: 16px;
}

button.btn-menu .fa-times:before{
    color: var(--white-color);
    height: auto;
    font-size: 20px;
}

.header {
    background-color: var(--first-color);
    padding: 18px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .container {
    display: flex;
    align-items: center;
    height: 2rem;
}

.logos-mobile img{
      vertical-align: middle;
}

.logos-mobile img#logo-1{
    width: 50px;
    margin-left: -7px ;
}

.logos-mobile img#logo-2{
    width: 80px;
    margin-left: 7px ;
}

.logos-tablet {
    display: none;
}

.logos-desktop { 
    display: none;
}

.menu {
    position: fixed;
    left: 0;
    top: 4.2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--header-nav-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    font-family: var(--WS-font);
    font-size: 10px;
    margin: 0 30px; 
    padding: 8px 0;
    text-decoration: none;
}

.menu a:last-child {
    border-bottom: none;
}

.menu a:hover {
    color: var(--second-color);
}

/* Media queries*/

/* Tablet */

@media screen and (min-width: 768px){
    .btn-menu {
        display: none;
    }

    .header {
        padding: 20px 20px;
    }

    .header .container {
        justify-content: space-between;
    }

    .logos-mobile {
        display: none;
    }

    .logos-desktop {
        display: block;
    }

    .logos-desktop img#logo-1{
        width: 65px;
        margin-left: 0;
        margin-top: 8px;
    }
    
    .logos-desktop img#logo-2{
        width: 75px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .menu {
        background-color: var(--first-color);
        flex-direction: row;
        justify-content: space-evenly;
        opacity: 1;
        pointer-events: auto;
        position: static;
        width: 50%;
    }

    .menu a {
        border-bottom: none;
        font-family: var(--WS-font);
        font-size: 10px;
        margin:0 ; 
        padding:0;
        text-decoration: none;
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
    } 
}

/* ESCRITORIO */
@media screen and (min-width: 992px){
    .header {
        padding: 30px 30px;
    }

    .logos-desktop img#logo-1{
        width: initial;
        margin-top: 15px;
    }
    
    .logos-desktop img#logo-2{
        width: initial;
    }
    .menu a {
        font-size: 12px;
    }
}
