.contact-section {
    background-color: var(--first-color);
    padding: 30px 0; 
    text-align: center;
}

.contact-section h3{
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    margin: 0 auto 30px auto;
    text-align: center;
}

.contact-section p {
    color: var(--white-color);
    margin: 0 auto 30px auto;
}

.contact-section a {
    color: var(--second-color);
    font-family: var(--WS-font);
    font-size: var(--paragraph-mobile);
    margin-bottom: 30px;
    text-decoration: none;
}

.contact-section textarea {
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    font-family: var(--WS-font);
    font-size: var(--paragraph-mobile);
    margin-bottom: 30px;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease-out;
    width: 80vw;
}

.contact-section textarea:focus {
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--white-color);
    font-family: var(--WS-font);
    font-size: var(--paragraph-mobile);
    margin-bottom: 30px;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease-out;
    width: 80vw;
}

textarea::placeholder {
    color: #6A77D8;
}

.form-container { 
    margin-top: 30px;
}

/* Media queries */

/* TABLET */

@media screen and (min-width: 768px) {
    .contact__container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 0 90px;
    }

    .contact-section a {
        font-size: var(--paragraph-tablet);
    }

    .contact-section h3{
        font-size: var(--title-tablet);
        margin: 0 auto 30px auto;
    }

    .contact-section p {
        color: var(--white-color);
        font-size: var(--paragraph-tablet);
        margin: 0 auto 30px 0;
    }

    .contact__form{
        width: 100%;
    }

    .contact__info {
        text-align: left;
    }

    .contact-section textarea {
        font-size: var(--paragraph-desktop);
        height: 80px;
        resize: none;
        width: 100%;
    }

    .contact-section textarea:focus {
        width: 100%;
    }

    .form-container { 
        margin-top: 0px;
        text-align: right;
    }
}

/* ESCRITORIO */

@media screen and (min-width: 992px) {
    .contact__container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 0 140px;
    }

    .contact-section a {
        font-size: var(--paragraph-desktop);
    }

    .contact-section h3{
        font-size: var(--title-desktop);
        margin: 0 auto 30px auto;
    }

    .contact-section p {
        color: var(--white-color);
        font-size: var(--paragraph-desktop);
        margin: 0 auto 30px 0;
    }

    .contact__form{
        width: 100%;
    }

    .contact__info {
        text-align: left;
    }

    .contact-section textarea {
        font-size: var(--paragraph-desktop);
        height: 80px;
        resize: none;
        width: 100%;
    }

    .form-container { 
        margin-top: 0px;
        text-align: right;
    }
}
