.allies-container .row-1, 
.allies-container .row-3,
.allies-container .row-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.allies-container .row-1:nth-child(1) {
    position: relative;
    right: 8px;
}

.allies-container .row-2 {
    align-items: center;
    display: grid;
    grid-template-columns: 45% 1fr 1fr;
    justify-items: center;
}

.allies-container small {
    color: var(--first-color);
    font-family: var(--BS-font);
    font-size: 9px;
}

.allies-container hr {
    height: 3px;
    border: var(--second-color);
    background-color: var(--second-color);
    width: 20px;

}

.allies-section {
    background-color: var(--fourth-color);
    padding: 30px 30px;
}

.allies-section h2 {
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    margin: 0 auto 30px auto;
    text-align: center;
}

.allies-section .img-tablet,
.allies-section .img-desktop {
    display: none;
}

/* ESCRITORIO */
@media screen and (min-width: 992px) {
    .allies-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    
    .allies-section h2 {
        font-size: var(--title-desktop);
    }

    .allies-container small {
        font-size: 18px;
        width: fit-content;
    }
    
    .allies-section .img-desktop {
        display: block;
        margin-top: 30px;
        width: 82%;
    }

    .allies-section .img-mobile {
        display: none;
    }

    .allies__title {
        width: 100%;
    }
}