.allies-container .row-1, 
.allies-container .row-3,
.allies-container .row-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.allies-container .row-2{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.allies-container small {
    color: var(--first-color);
    font-family: var(--BS-font);
    font-size: 9px;
}

.allies-container hr {
    height: 3px;
    border: var(--second-color);
    background-color: var(--second-color);
    width: 20px;

}

.allies-section {
    background-color: var(--fourth-color);
    padding: 30px 0;
}

.allies-section h2 {
    font-family: var(--BS-font);
    font-size: var(--title-mobile);
    margin: 0 auto 30px auto;
    text-align: center;
}