.photo-section {
    width: 100%;
}

.photo-section-container {
    width: 100%;
}

.photo-section-container > img {
    width: 100%;
}

.photo-section-container img#tablet,
.photo-section-container img#desktop {
    display: none;
}

/* Media queries */
/* TABLET */
@media screen and (min-width: 768px) {
    .photo-section-container img#mobile {
        display: none;
    }

    .photo-section-container img#desktop {
        display: block;
    }

}

