:root {
    /* Fonts */
    --BS-font:'Big Shoulders Display', cursive;
    --WS-font: 'Work Sans', sans-serif;
    /* Colors */
    --first-color: #5900D7;
    --second-color: #F4911D;
    --third-color: #79C9C3;
    --fourth-color: #F0EFEE;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --header-nav-color: #4E08BC;
    /* Font sizes (Mobile) */
    --main-title-mobile: 2.72rem;
    --main-title-tablet: 2.7rem;
    --main-title-desktop: 3.6rem;
    --title-mobile: 35px;
    --title-tablet: 34px;
    --title-desktop: 42px ;
    --subtitle-mobile: 19px;
    --subtitle-tablet: 18px;
    --subtitle-desktop: 23px;
    --paragraph-mobile: 13px;
    --paragraph-tablet: 12px;
    --paragraph-desktop: 18px;
    --button-font-size-mobile: 12px;
    --button-font-size-tablet: 12.5px;
    --button-font-size-desktop: 15px;
    --counter-main-size-mobile: 40px;
    --counter-main-size-tablet: 45px;
    --counter-main-size-desktop: 50px;
    --counter-small-size-mobile: 9px;
    --counter-small-size-tablet: 12px;
    --counter-small-size-desktop: 15px;

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}
.none {display: none;}

p {
    font-family: var(--WS-font);
    font-size: var(--paragraph-mobile);
}

.text-orange {
    color: var(--second-color)
}

.text-white {
    color: var(--white-color)
}

.text-blue {
    color: var(--first-color);
}

.text-cian {
    color: var(--third-color)
}


