@keyframes carousel-slide {
    0% {
        transform: translateX(0%); 
    }

    33.3% {
        transform: translateX(-33.3%);    
    }

    66.6% {
        transform: translateX(-66.6%);
    }
}

.carousel {
    text-align: center;
    overflow-x: hidden;
    background-color: var(--first-color);
    width: 100%;
}

.carousel .slides {
    padding-left: 0;
    /* 100% por cada slide */
    width: 100%;
    transition: transform .5s ease-in-out;
}

.carousel input {
    display: none;
}

.carousel label {
    background-color: var(--white-color);
    border: medium solid var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .25rem;
    display: inline-block;
    width: .50rem;
    height: .50rem;
}

.carousel p {
    color: var(--white-color);
    margin: 0 auto 30px auto;
    width: 65vw; 
}

.main-title {
    font-family: var(--BS-font);
    font-size: var(--main-title-mobile);
    font-weight: 900;
    margin: 0px 0 18px 0;
}

#row-left {
    bottom: 276px;
    left: -162px;
    position: relative;

}

.fa, .fas {
    color: var(--white-color);
}

#row-right {
    bottom: 276px;
    left: 162px;
    position: relative;
}

.slide {
    width: 100vw;
}

.slide-img-mobile {
    margin-bottom: 15px;
}

.slide-img-tablet {
    display: none;
}

.slide-img-desktop {
    display: none;
}

.slides-nav {
    margin: -20px auto 30px auto;
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
    background-color: var(--second-color);
    border: var(--second-color);
    width: .65rem;
    height: .65rem;
}
/* Media queries */
/* TABLET */
@media screen and (min-width: 768px) {

    .carousel {
        overflow-y: hidden;
    }

    .carousel label {
        margin: 0 .40rem;
        width: .65rem;
        height: .65rem;
    }

    .main-title {
        font-family: var(--BS-font);
        font-size: var(--main-title-tablet);
        font-weight: 900;
        margin: -12px 0 20px 0;
    }
    
    .slide {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .slide-img-mobile {
        display: none;
    }
    
    .slide-img-desktop {
        display: block;
    }

    .slide-img-desktop > img {
        width: 100%;
    }

    .slide-info {
        padding: 30px;
        text-align: left;
    }

    .slide-info p {
        font-size: var(--paragraph-tablet);
        margin: 0 auto 30px 0;
        width: 81%;

    }

    .slides-nav {
        margin: -20px auto 0 auto;
        position: relative;
        top: -40px;
        z-index: 998;
    }

    #slide-1:checked ~ .slides-nav label#dot-1,
    #slide-2:checked ~ .slides-nav label#dot-2,
    #slide-3:checked ~ .slides-nav label#dot-3 {
        background-color: var(--second-color);
        border: var(--second-color);
        width: .90rem;
        height: .90rem;
}

}

/* ESCRITORIO*/
@media screen and (min-width: 992px) {

    .main-title {
        font-size: var(--main-title-desktop);
        margin: -12px 0 30px 0;
    }

    .slide-info {
        padding: 50px;
    }

    .slide-info p {
        font-size: var(--paragraph-desktop);
        width: 73%;
    }
}



